body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.container {
    display: flex;
    height: 100vh;
    background-image: url('interior4.jpg');
    background-size: cover;
    background-position: center;
}
.left {
    flex: 1;
}
.right {
    flex: 1.2;
    background-color: white;
}
.heading {
    margin-top: 80px;
    margin-left: 5px;
}
.main {
    background-color: #BFDBFE;
    height: 250px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
input {
    border: gray;
    border-radius: 12px;
    padding: 6px;
    background-color: #F3F4F6;
}
input:focus {
    box-shadow: 0 0 6px white;
    border: none;
}
.form-footer {
    text-align: right;
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #2563EB;
    margin: 6px;
}
.login-button:hover {
    box-shadow: 0 0 10px burlywood;
}
.form-footer a {
    text-decoration: none;
    color: #3B82F6;
}
.form-footer a:hover {
    text-decoration: underline;
}
.form-footer a:visited {
    color: #10B981;
}
input:invalid {
    border-color: red;
}
